

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>inicio</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>


	<body>
	<div class="container">
		<div class="well well-lg">
		
			<p class="text-center">
				<strong>Carrera de Ingenieria en Sistemas</strong>
				<br>
				Quinto ciclo paralelo "A"</br>
				2016
				
					<center><h1>Ingrese el Nuevo Cliente</h1></center>
			</p>
		
		</div>
		<div>
			<form action="" method="POST">{% csrf_token %}
		
		{{form.as_p}}
		
			<input type="submit" value="Aceptar"></input>
		</form>
		</div>
	</div>
	</body>

</html>
