{% extends 'master.html' %}
{% block contenido %}
				{{grabo}}
				{% if clientes %}
					<div class='alert alert-success'>Clientes Registrados</div>
					<table class="table table-striped">
					<tr>
						<td>Cedula</td>
						<td>Apellidos</td>
						<td>Nombres</td>
					</tr>
					{% for c in clientes %}
					<tr>
						<td> <a href="modificar?cedula={{c.cedula}}">{{c.cedula}}</a> </td>
						<td>{{c.apellidos}}</td>
						<td>{{c.nombres}}</td>
					</tr>
					{% endfor %}
					</table>
				{%else%}
					<div class="alert alert-success">
						<p><strong>No hay clientes registrado</strong></p>
					</div>
					
				{%endif%}






				{{titulo}}
				<button onClick="location.href = 'crear'" type="button" class="btn btn-success" aria-label="Left Align">
				  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</button>
			</p>
		
		</div>
	</div>
{% endblock contenido %}